@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-YACFr4-QuT_i: 1140px;
  --plasmic-token-content-max-width: var(--token-YACFr4-QuT_i);
  --token-11FAPpTsG5Qn: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-11FAPpTsG5Qn);
  --token-y9Vt30izhJnE: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-y9Vt30izhJnE);
  --token-ovnbMmVKAWJ7: #92959bd9;
  --plasmic-token-light-label: var(--token-ovnbMmVKAWJ7);
  --token-tnsSZDtIoNoh: #05050599;
  --plasmic-token-light-secondary: var(--token-tnsSZDtIoNoh);
  --token-_5f7yVa7e-5k: #007aff;
  --plasmic-token-light-blue: var(--token-_5f7yVa7e-5k);
  --token-gh49fd2vNPAt: #ff3b30;
  --plasmic-token-light-red: var(--token-gh49fd2vNPAt);
  --token-CP5hUwmMJbqp: #ffffff;
  --plasmic-token-white: var(--token-CP5hUwmMJbqp);
  --token-yZIWQxR9GHds: #ffffffd9;
  --plasmic-token-dark-label: var(--token-yZIWQxR9GHds);
  --token-7gaFQZ7mdAhg: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-7gaFQZ7mdAhg);
  --token-Qdbcv7eNM1ip: #0000001a;
  --plasmic-token-light-quarternary: var(--token-Qdbcv7eNM1ip);
  --token-ltjk1YGALDKg: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-ltjk1YGALDKg);
  --token-M7k5-f_tBvRm: #32d74b;
  --plasmic-token-dark-green: var(--token-M7k5-f_tBvRm);
  --token-FtZp144rQcmE: #0a84ff;
  --plasmic-token-dark-blue: var(--token-FtZp144rQcmE);
  --token-mTrahXSDOJV_: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-mTrahXSDOJV_);
  --token-4KtgT7Cgp6KW: #34c759;
  --plasmic-token-light-green: var(--token-4KtgT7Cgp6KW);
  --token-0f9YlEnJ_Xwr: #5856d6;
  --plasmic-token-light-indigo: var(--token-0f9YlEnJ_Xwr);
  --token-OW-wPla73Wgh: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-OW-wPla73Wgh);
  --token-OW-wPla73Wgh: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-OW-wPla73Wgh);
  --token-gAMHQO-4_R5s: 1240px;
  --plasmic-token-max-width-navbar: var(--token-gAMHQO-4_R5s);
  --token-gAMHQO-4_R5s: 1240px;
  --plasmic-token-max-width-navbar: var(--token-gAMHQO-4_R5s);
  --token-s3N_YUo7lYRB: var(--token-9Xhb40SXvIWW);
  --plasmic-token-unnamed-style-token-2: var(--token-s3N_YUo7lYRB);
  --token-s3N_YUo7lYRB: var(--token-9Xhb40SXvIWW);
  --plasmic-token-unnamed-style-token-2: var(--token-s3N_YUo7lYRB);
  --token-9Xhb40SXvIWW: #eeeeee80;
  --plasmic-token-grey: var(--token-9Xhb40SXvIWW);
  --token-9Xhb40SXvIWW: #eeeeee80;
  --plasmic-token-grey: var(--token-9Xhb40SXvIWW);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-o39gzBnyiOjh_font-family: "Montserrat", sans-serif;
  --mixin-o39gzBnyiOjh_font-size: 24px;
  --mixin-o39gzBnyiOjh_font-weight: 500;
  --mixin-o39gzBnyiOjh_font-style: normal;
  --mixin-o39gzBnyiOjh_color: #00000080;
  --mixin-o39gzBnyiOjh_text-align: left;
  --mixin-o39gzBnyiOjh_text-transform: none;
  --mixin-o39gzBnyiOjh_line-height: 1.5;
  --mixin-o39gzBnyiOjh_letter-spacing: normal;
  --mixin-o39gzBnyiOjh_white-space: pre-wrap;
  --mixin-o39gzBnyiOjh_user-select: text;
  --mixin-o39gzBnyiOjh_text-decoration-line: none;
  --mixin-o39gzBnyiOjh_text-overflow: clip;
  --mixin-QAdY69fwzgDj_white-space: pre-wrap;
  --mixin-Na7DSs4gELQI_font-family: "Montserrat", sans-serif;
  --mixin-Na7DSs4gELQI_color: #ffffff;
  --mixin-Na7DSs4gELQI_font-size: 72px;
  --mixin-Na7DSs4gELQI_font-weight: 700;
  --mixin-Na7DSs4gELQI_line-height: 88px;
  --mixin-Na7DSs4gELQI_white-space: pre-wrap;
  --mixin-9qbYlaXqVOql_font-family: "Inter", sans-serif;
  --mixin-9qbYlaXqVOql_color: #000000;
  --mixin-9qbYlaXqVOql_font-size: 36px;
  --mixin-9qbYlaXqVOql_font-weight: 700;
  --mixin-9qbYlaXqVOql_line-height: 43px;
  --mixin-9qbYlaXqVOql_text-align: center;
  --mixin-9qbYlaXqVOql_white-space: pre-wrap;
  --mixin-Xr6uO24lRuN5_font-family: "Inter", sans-serif;
  --mixin-Xr6uO24lRuN5_color: #000000;
  --mixin-Xr6uO24lRuN5_font-size: 24px;
  --mixin-Xr6uO24lRuN5_font-weight: 600;
  --mixin-Xr6uO24lRuN5_letter-spacing: -0.5px;
  --mixin-Xr6uO24lRuN5_line-height: 1.3;
  --mixin-Xr6uO24lRuN5_white-space: pre-wrap;
  --mixin-G82YxYVAZEqw_font-family: "Montserrat", sans-serif;
  --mixin-G82YxYVAZEqw_color: #185adb;
  --mixin-G82YxYVAZEqw_font-size: 24px;
  --mixin-G82YxYVAZEqw_font-weight: 700;
  --mixin-G82YxYVAZEqw_line-height: 29px;
  --mixin-G82YxYVAZEqw_text-align: center;
  --mixin-G82YxYVAZEqw_white-space: pre-wrap;
  --mixin-RCNMUbAG-cba_font-family: "Inter", sans-serif;
  --mixin-RCNMUbAG-cba_color: #000000;
  --mixin-RCNMUbAG-cba_font-size: 16px;
  --mixin-RCNMUbAG-cba_font-weight: 600;
  --mixin-RCNMUbAG-cba_line-height: 1.5;
  --mixin-RCNMUbAG-cba_white-space: pre-wrap;
  --mixin-bu1SNJjzlM_8_border-left-color: #dddddd;
  --mixin-bu1SNJjzlM_8_border-left-style: solid;
  --mixin-bu1SNJjzlM_8_border-left-width: 3px;
  --mixin-bu1SNJjzlM_8_color: #888888;
  --mixin-bu1SNJjzlM_8_padding-left: 10px;
  --mixin-bu1SNJjzlM_8_white-space: pre-wrap;
  --mixin-25smbmwz5WHA_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-25smbmwz5WHA_border-bottom-color: #dddddd;
  --mixin-25smbmwz5WHA_border-bottom-style: solid;
  --mixin-25smbmwz5WHA_border-bottom-width: 1px;
  --mixin-25smbmwz5WHA_border-left-color: #dddddd;
  --mixin-25smbmwz5WHA_border-left-style: solid;
  --mixin-25smbmwz5WHA_border-left-width: 1px;
  --mixin-25smbmwz5WHA_border-right-color: #dddddd;
  --mixin-25smbmwz5WHA_border-right-style: solid;
  --mixin-25smbmwz5WHA_border-right-width: 1px;
  --mixin-25smbmwz5WHA_border-top-color: #dddddd;
  --mixin-25smbmwz5WHA_border-top-style: solid;
  --mixin-25smbmwz5WHA_border-top-width: 1px;
  --mixin-25smbmwz5WHA_border-bottom-left-radius: 3px;
  --mixin-25smbmwz5WHA_border-bottom-right-radius: 3px;
  --mixin-25smbmwz5WHA_border-top-left-radius: 3px;
  --mixin-25smbmwz5WHA_border-top-right-radius: 3px;
  --mixin-25smbmwz5WHA_font-family: "Inconsolata";
  --mixin-25smbmwz5WHA_padding-bottom: 1px;
  --mixin-25smbmwz5WHA_padding-left: 4px;
  --mixin-25smbmwz5WHA_padding-right: 4px;
  --mixin-25smbmwz5WHA_padding-top: 1px;
  --mixin-25smbmwz5WHA_white-space: pre-wrap;
  --mixin-FGSKbBiX00nv_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-FGSKbBiX00nv_border-bottom-color: #dddddd;
  --mixin-FGSKbBiX00nv_border-bottom-style: solid;
  --mixin-FGSKbBiX00nv_border-bottom-width: 1px;
  --mixin-FGSKbBiX00nv_border-left-color: #dddddd;
  --mixin-FGSKbBiX00nv_border-left-style: solid;
  --mixin-FGSKbBiX00nv_border-left-width: 1px;
  --mixin-FGSKbBiX00nv_border-right-color: #dddddd;
  --mixin-FGSKbBiX00nv_border-right-style: solid;
  --mixin-FGSKbBiX00nv_border-right-width: 1px;
  --mixin-FGSKbBiX00nv_border-top-color: #dddddd;
  --mixin-FGSKbBiX00nv_border-top-style: solid;
  --mixin-FGSKbBiX00nv_border-top-width: 1px;
  --mixin-FGSKbBiX00nv_border-bottom-left-radius: 3px;
  --mixin-FGSKbBiX00nv_border-bottom-right-radius: 3px;
  --mixin-FGSKbBiX00nv_border-top-left-radius: 3px;
  --mixin-FGSKbBiX00nv_border-top-right-radius: 3px;
  --mixin-FGSKbBiX00nv_font-family: "Inconsolata";
  --mixin-FGSKbBiX00nv_padding-bottom: 3px;
  --mixin-FGSKbBiX00nv_padding-left: 6px;
  --mixin-FGSKbBiX00nv_padding-right: 6px;
  --mixin-FGSKbBiX00nv_padding-top: 3px;
  --mixin-FGSKbBiX00nv_white-space: pre-wrap;
  --mixin-RAqhA05iIAYd_display: flex;
  --mixin-RAqhA05iIAYd_flex-direction: column;
  --mixin-RAqhA05iIAYd_align-items: stretch;
  --mixin-RAqhA05iIAYd_justify-content: flex-start;
  --mixin-RAqhA05iIAYd_list-style-position: outside;
  --mixin-RAqhA05iIAYd_padding-left: 40px;
  --mixin-RAqhA05iIAYd_position: relative;
  --mixin-RAqhA05iIAYd_list-style-type: decimal;
  --mixin-RAqhA05iIAYd_white-space: pre-wrap;
  --mixin-qxuco9zqbpgS_display: flex;
  --mixin-qxuco9zqbpgS_flex-direction: column;
  --mixin-qxuco9zqbpgS_align-items: stretch;
  --mixin-qxuco9zqbpgS_justify-content: flex-start;
  --mixin-qxuco9zqbpgS_list-style-position: outside;
  --mixin-qxuco9zqbpgS_padding-left: 40px;
  --mixin-qxuco9zqbpgS_position: relative;
  --mixin-qxuco9zqbpgS_list-style-type: disc;
  --mixin-qxuco9zqbpgS_white-space: pre-wrap;
  --mixin-4RRjSF_Ge8LX_color: #000000;
  --mixin-4RRjSF_Ge8LX_font-family: "Montserrat", sans-serif;
  --mixin-4RRjSF_Ge8LX_font-size: 64px;
  --mixin-4RRjSF_Ge8LX_font-weight: 700;
  --mixin-4RRjSF_Ge8LX_line-height: 78px;
  --mixin-4RRjSF_Ge8LX_text-align: center;
  --mixin-4RRjSF_Ge8LX_white-space: pre-wrap;
  --mixin-Ybnfy_GQEgvE_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-o39gzBnyiOjh_font-size: 16px;
    --mixin-o39gzBnyiOjh_line-height: 27px;
    --mixin-o39gzBnyiOjh_white-space: pre-wrap;
    --mixin-Na7DSs4gELQI_font-size: 40px;
    --mixin-Na7DSs4gELQI_line-height: 48px;
    --mixin-Na7DSs4gELQI_white-space: pre-wrap;
    --mixin-4RRjSF_Ge8LX_font-size: 28px;
    --mixin-4RRjSF_Ge8LX_line-height: 34px;
    --mixin-4RRjSF_Ge8LX_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-edwovEkkSJe4_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-edwovEkkSJe4_white-space);
  --mixin-pOKnNRV_4-k0_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-pOKnNRV_4-k0_box-shadow
  );
  --mixin-pOKnNRV_4-k0_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-pOKnNRV_4-k0_white-space
  );
  --mixin-s_m0w_MnVPHT_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-s_m0w_MnVPHT_white-space);
  --mixin-eS1xc11VrSVr_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-eS1xc11VrSVr_white-space
  );
  --mixin-TMmAQf9Gg0u1_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-TMmAQf9Gg0u1_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-o39gzBnyiOjh_font-family);
  font-size: var(--mixin-o39gzBnyiOjh_font-size);
  font-weight: var(--mixin-o39gzBnyiOjh_font-weight);
  font-style: var(--mixin-o39gzBnyiOjh_font-style);
  color: var(--mixin-o39gzBnyiOjh_color);
  text-align: var(--mixin-o39gzBnyiOjh_text-align);
  text-transform: var(--mixin-o39gzBnyiOjh_text-transform);
  line-height: var(--mixin-o39gzBnyiOjh_line-height);
  letter-spacing: var(--mixin-o39gzBnyiOjh_letter-spacing);
  white-space: var(--mixin-o39gzBnyiOjh_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-Na7DSs4gELQI_font-family);
  color: var(--mixin-Na7DSs4gELQI_color);
  font-size: var(--mixin-Na7DSs4gELQI_font-size);
  font-weight: var(--mixin-Na7DSs4gELQI_font-weight);
  line-height: var(--mixin-Na7DSs4gELQI_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-9qbYlaXqVOql_font-family);
  color: var(--mixin-9qbYlaXqVOql_color);
  font-size: var(--mixin-9qbYlaXqVOql_font-size);
  font-weight: var(--mixin-9qbYlaXqVOql_font-weight);
  line-height: var(--mixin-9qbYlaXqVOql_line-height);
  text-align: var(--mixin-9qbYlaXqVOql_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-Xr6uO24lRuN5_font-family);
  color: var(--mixin-Xr6uO24lRuN5_color);
  font-size: var(--mixin-Xr6uO24lRuN5_font-size);
  font-weight: var(--mixin-Xr6uO24lRuN5_font-weight);
  letter-spacing: var(--mixin-Xr6uO24lRuN5_letter-spacing);
  line-height: var(--mixin-Xr6uO24lRuN5_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-G82YxYVAZEqw_font-family);
  color: var(--mixin-G82YxYVAZEqw_color);
  font-size: var(--mixin-G82YxYVAZEqw_font-size);
  font-weight: var(--mixin-G82YxYVAZEqw_font-weight);
  line-height: var(--mixin-G82YxYVAZEqw_line-height);
  text-align: var(--mixin-G82YxYVAZEqw_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-RCNMUbAG-cba_font-family);
  color: var(--mixin-RCNMUbAG-cba_color);
  font-size: var(--mixin-RCNMUbAG-cba_font-size);
  font-weight: var(--mixin-RCNMUbAG-cba_font-weight);
  line-height: var(--mixin-RCNMUbAG-cba_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-bu1SNJjzlM_8_color);
  padding-left: var(--mixin-bu1SNJjzlM_8_padding-left);
  border-left: var(--mixin-bu1SNJjzlM_8_border-left-width)
    var(--mixin-bu1SNJjzlM_8_border-left-style)
    var(--mixin-bu1SNJjzlM_8_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-25smbmwz5WHA_font-family);
  border-radius: var(--mixin-25smbmwz5WHA_border-top-left-radius)
    var(--mixin-25smbmwz5WHA_border-top-right-radius)
    var(--mixin-25smbmwz5WHA_border-bottom-right-radius)
    var(--mixin-25smbmwz5WHA_border-bottom-left-radius);
  padding: var(--mixin-25smbmwz5WHA_padding-top)
    var(--mixin-25smbmwz5WHA_padding-right)
    var(--mixin-25smbmwz5WHA_padding-bottom)
    var(--mixin-25smbmwz5WHA_padding-left);
  border-top: var(--mixin-25smbmwz5WHA_border-top-width)
    var(--mixin-25smbmwz5WHA_border-top-style)
    var(--mixin-25smbmwz5WHA_border-top-color);
  border-right: var(--mixin-25smbmwz5WHA_border-right-width)
    var(--mixin-25smbmwz5WHA_border-right-style)
    var(--mixin-25smbmwz5WHA_border-right-color);
  border-bottom: var(--mixin-25smbmwz5WHA_border-bottom-width)
    var(--mixin-25smbmwz5WHA_border-bottom-style)
    var(--mixin-25smbmwz5WHA_border-bottom-color);
  border-left: var(--mixin-25smbmwz5WHA_border-left-width)
    var(--mixin-25smbmwz5WHA_border-left-style)
    var(--mixin-25smbmwz5WHA_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-FGSKbBiX00nv_font-family);
  border-radius: var(--mixin-FGSKbBiX00nv_border-top-left-radius)
    var(--mixin-FGSKbBiX00nv_border-top-right-radius)
    var(--mixin-FGSKbBiX00nv_border-bottom-right-radius)
    var(--mixin-FGSKbBiX00nv_border-bottom-left-radius);
  padding: var(--mixin-FGSKbBiX00nv_padding-top)
    var(--mixin-FGSKbBiX00nv_padding-right)
    var(--mixin-FGSKbBiX00nv_padding-bottom)
    var(--mixin-FGSKbBiX00nv_padding-left);
  border-top: var(--mixin-FGSKbBiX00nv_border-top-width)
    var(--mixin-FGSKbBiX00nv_border-top-style)
    var(--mixin-FGSKbBiX00nv_border-top-color);
  border-right: var(--mixin-FGSKbBiX00nv_border-right-width)
    var(--mixin-FGSKbBiX00nv_border-right-style)
    var(--mixin-FGSKbBiX00nv_border-right-color);
  border-bottom: var(--mixin-FGSKbBiX00nv_border-bottom-width)
    var(--mixin-FGSKbBiX00nv_border-bottom-style)
    var(--mixin-FGSKbBiX00nv_border-bottom-color);
  border-left: var(--mixin-FGSKbBiX00nv_border-left-width)
    var(--mixin-FGSKbBiX00nv_border-left-style)
    var(--mixin-FGSKbBiX00nv_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-RAqhA05iIAYd_display);
  flex-direction: var(--mixin-RAqhA05iIAYd_flex-direction);
  align-items: var(--mixin-RAqhA05iIAYd_align-items);
  justify-content: var(--mixin-RAqhA05iIAYd_justify-content);
  list-style-position: var(--mixin-RAqhA05iIAYd_list-style-position);
  padding-left: var(--mixin-RAqhA05iIAYd_padding-left);
  position: var(--mixin-RAqhA05iIAYd_position);
  list-style-type: var(--mixin-RAqhA05iIAYd_list-style-type);
  flex-column-gap: var(--mixin-RAqhA05iIAYd_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-qxuco9zqbpgS_display);
  flex-direction: var(--mixin-qxuco9zqbpgS_flex-direction);
  align-items: var(--mixin-qxuco9zqbpgS_align-items);
  justify-content: var(--mixin-qxuco9zqbpgS_justify-content);
  list-style-position: var(--mixin-qxuco9zqbpgS_list-style-position);
  padding-left: var(--mixin-qxuco9zqbpgS_padding-left);
  position: var(--mixin-qxuco9zqbpgS_position);
  list-style-type: var(--mixin-qxuco9zqbpgS_list-style-type);
  flex-column-gap: var(--mixin-qxuco9zqbpgS_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-4RRjSF_Ge8LX_color);
  font-family: var(--mixin-4RRjSF_Ge8LX_font-family);
  font-size: var(--mixin-4RRjSF_Ge8LX_font-size);
  font-weight: var(--mixin-4RRjSF_Ge8LX_font-weight);
  line-height: var(--mixin-4RRjSF_Ge8LX_line-height);
  text-align: var(--mixin-4RRjSF_Ge8LX_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
