.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__lCTmw {
  display: flex;
  position: relative;
  max-width: var(--token-YACFr4-QuT_i);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__lCTmw > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__lCTmw > :global(.__wab_flex-container) > *,
.freeBox__lCTmw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lCTmw > :global(.__wab_flex-container) > picture > img,
.freeBox__lCTmw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lCTmw {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lCTmw > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lCTmw > :global(.__wab_flex-container) > *,
  .freeBox__lCTmw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lCTmw > :global(.__wab_flex-container) > picture > img,
  .freeBox__lCTmw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nMaDy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__nMaDy {
    justify-content: center;
  }
}
.freeBox__ydDjD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  width: 306px;
  margin-right: 0px;
  height: 99px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__p0H3H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__p0H3H {
    text-align: center;
  }
}
.freeBox__brpAr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__brpAr {
    align-self: center;
    justify-content: center;
  }
}
.svg__tQg9Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg__ixSqd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__oFJzR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__pKgL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.column__o6QPn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__o6QPn {
    justify-content: center;
  }
}
.h4__ksHzG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__ksHzG {
    text-align: center;
  }
}
.button__ekL3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__ekL3:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___2Xzpa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__f5HBu {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__f5HBu {
    text-align: center;
  }
}
.svg__tMcbI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___76Uml:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___76Uml:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___8HAkJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ri7Ua {
  color: #92959b;
}
.svg__j6E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ah4Kl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__ah4Kl:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__s7TTh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__uUbF {
  color: #92959b;
}
.svg__lEaIc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__jEg1S:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__jEg1S:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__d5M4T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___6FEcJ {
  color: #92959b;
}
.svg__vu474 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__e8Onk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__e8Onk {
    justify-content: center;
  }
}
.h4__sRjmp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__sRjmp {
    align-self: center;
    text-align: center;
  }
}
.button__yc5A2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__yc5A2:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__t3G5G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__z1Vod {
  color: #92959b;
}
.svg___7ZoU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__gVOz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__gVOz:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__d2Xkc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xedeq {
  color: #92959b;
}
.svg__jBwfT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__ynZu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__ynZu {
    justify-content: center;
  }
}
.h4__yyB0P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__yyB0P {
    align-self: center;
    text-align: center;
  }
}
.button___1PYsA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___1PYsA:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__cIFw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__bmC8S {
  color: #92959b;
}
.svg__yj1Wt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__zFa4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__zFa4:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__koByv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__yzDzM {
  color: #92959b;
}
.svg__nYAo1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__geEqs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__geEqs:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___9Lgli {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__cmXn {
  color: #92959b;
}
.svg__voly6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__cqWh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text__g0YOh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__g0YOh {
    padding-top: 129px;
  }
}
